.features {
    text-align: center;
    padding: 100px 20px;
    margin-bottom:100px;
}

.features h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.features-description {
    font-size: 16px;
    color: #555;
    max-width: 600px;
    margin: 0 auto 30px;
}

.feature-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.feature {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 240px;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.icon {
    font-size: 32px;
    color: #68b0ff;
    margin-bottom: 10px;
}

h3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: #666;
}