@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Pacifico&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #e6f7ff, #ffffff); /* Light blue to white *
  /* Light blue as fallback */
  /* background-image: url("https://img.freepik.com/free-vector/medical-background-with-abstract-wave-lines_53876-95831.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #333;
  /* Dark gray for text */
}



a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}